USE CMDB;
GO

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'm_friends_lists')
BEGIN
IF (OBJECT_ID('mfriendslists_foreign_key', 'F') IS NOT NULL)
BEGIN
    Alter TABLE m_friends_lists DROP CONSTRAINT mfriendslists_foreign_key
END
END
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'msg_rooms')
BEGIN
IF (OBJECT_ID('msg_rooms_foreign_key', 'F') IS NOT NULL)
BEGIN
    Alter TABLE msg_rooms DROP CONSTRAINT msg_rooms_foreign_key
END
END
go


IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'members')      
BEGIN
drop table members
END
go


CREATE TABLE members(
memberId    varchar(30),
mname       nvarchar(20),
mnickn      nvarchar(20),
mpwd        varchar(20),
mbirthday   date,
mmail       varchar(50),
maddr       nvarchar(max),
mphone      varchar(15),
mintr       nvarchar(max),
mphoto      varbinary(max),
mstatus     nvarchar(20),
mrole       nvarchar(20),

CONSTRAINT members_primary_key PRIMARY KEY(memberId)
);

INSERT INTO members(memberId,mname,mnickn,mpwd,mbirthday,mmail,maddr,mphone,mintr,mstatus,mrole) 
VALUES('eeit970301','蔡家華','番薯島小霸王','eeit970301','1990/10/11','eeit970301@gmail.com','台北市大安區和平東路1號','0912-345-678','哇哈哈哈哈','正常','一般會員')
INSERT INTO members(memberId,mname,mnickn,mpwd,mbirthday,mmail,maddr,mphone,mintr,mstatus,mrole) 
VALUES('eeit970302','馬立夯','贏馬赫','eeit970302','1973/07/25','eeit970302@gmail.com','基隆市中正區和平東路5號','0987-645-321','我愛騎車旅遊','正常','社團管理員')
INSERT INTO members(memberId,mname,mnickn,mpwd,mbirthday,mmail,maddr,mphone,mintr,mstatus,mrole) 
VALUES('eeit970303','陳建志','見仁見智','eeit970303','1970/01/05','eeit970303@gmail.com','台北市中正區館前路257號','0966-555-444','我喜歡爬山','正常','一般會員')

select * from members;

go