--建立縣市區域表格

use CMDB;
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'countys')      
BEGIN
drop table countys;

END                                                                                                                                                                                                                                                                                                                                                                                                                                                    
go




create table countys (
 countyID         int not null,
 countyName			varchar(10),
 countyName			varchar(10),
 countyID			varchar(5),
 constraint countys_primary_key primary key (countyID));

insert into countys values (100,'中正區','臺北市','TPE');
insert into countys values (103,'大同區','臺北市','TPE');
insert into countys values (104,'中山區','臺北市','TPE');
