--建立景點表格
use CMDB;
go

IF EXISTS (SELECT name FROM sysobjects
            WHERE type='u' AND name = 'attractions')      
BEGIN
	--Alter TABLE ISSUE DROP CONSTRAINT FK_IssueClubID
	--Alter TABLE Club DROP CONSTRAINT FK_MemID
drop table attractions
END
go



create table attractions(
attractionID      int IDENTITY (1,1) not null,
name                   varchar(50),
county                varchar(20),
type                     varchar(20),
address              varchar(100),
tel                         varchar(50),
intro                    varchar(MAX),
image                 varbinary(MAX),
constraint attractions_primary_key primary key (attractionID));

insert into attractions values('旺角迷你石頭火鍋','新北市','餐廳','新北市三重區正義南路2-1號','886-2-29747815','人氣強強滾的旺角食頭火鍋，是三重火鍋界的指標名店之一，沒有事先定位就很難吃到的盛況更是每天上演，在門外排上一、兩個小時也是常有的事，即使是夏天，旺角食頭火鍋依然天天爆滿，因此店家在幾年前從原本的舊址移至現在天台戲院對面的店面。相較於隨處可見的日式涮涮鍋，石頭火鍋的特色是在加入高湯前多了「炒」的動作，也稱作「炒肉式起鍋」，將肉片加入一碟由多種配料製成的炒料，包括洋蔥、蒜頭及麻油等先進行爆香，條味的黃金比例正是美味的來源，炒的時後服務人員細心地立起鍋圍，濃濃的香味竄鼻，快炒至月5分熟後撈起再放入高湯中煮，這道多出來的手續便是傳統石頭火鍋的特色，也是迷人之處。',null)
insert into attractions values('金山肉包王','新北市','餐廳','新北市金山區中山路237號','886-2-24985787','除了逛老街外，來到金山也是逛北海岸風景區補充體力、美食的中繼站。位於市區中山路上、金山市場外面的「金山肉包王」，以香濃味美的「蔥肉肉包」，25年來奠定了包子店在遊客心中的「包子王」地位。尤其假日時間一到中午，店門前大排長龍的人潮、車潮令人嘆為觀止，所有人都是為了那一粒皮Q肉餡飽滿的肉包而來。金山肉包王從原本一種臺式口味的蔥肉包，一直發展到5種口味，不論蔥肉、滷肉、高麗菜、酸菜、素菜還是紅豆，都十分受到行家的喜愛。經常可見高級轎車停了下來，一買就是幾十顆，掃貨的景象令人咋舌，也不難發覺肉包王的魅力。這兒包子好吃的秘訣，在於中筋麵糰前一天就先低溫發酵，內餡用金山市場內的溫體黑豬肉，加上老闆獨家調味，蒸起來香氣四溢，令人聞香下馬。',null)
insert into attractions values('泰味廚房','新北市','餐廳','新北市板橋區中山路二段42號','886-2-82573903','提起板橋的平價泰國菜，位於民生路二段的泰味廚房可說是當地老饕們的最愛，南洋風情與巧思妙藝，在餐廳裡除了一般常見的泰國美食，還有難得一見的南洋料理，用餐、宴客都能嚐出主廚的用心。通常消費者耳熟能詳的泰國菜，以椒麻雞、月亮蝦餅、蝦醬空心菜、涼拌海鮮、咖哩飯…等菜色最常見到，由於泰國與滇、緬接鄰，飲食習慣接近，這類型菜色在滇緬餐館也都能發現。不過，泰味廚房的泰式料理則更有南洋風，酸、辣的配料搭得極好，其中椒麻雞、香蘭葉包雞、泰北辣拌豬肉、泰式炒河粉都是這裡的招牌菜，來此必點必嚐。',null)
